/* ide jön a css :) */

main {
    height: 100vh;
    background: linear-gradient(#0bbe92, #1695c7);
    
}

header {
    position: absolute;
    top:  0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgb(66, 64, 64);
    padding: 15px;
    color: #e6ded4;
    font-size: 36px;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    text-align: center;
}

header h1 {
    margin-bottom: 12px;
}

header p {
    color: #bdb4a8;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #bdb4a8;
}

a:hover {
    color: rgb(241, 233, 224);
}

a:visited {
    color: #a79884;
}