/* ide jön a css :) */

body {
    height: 100vh;
    background: linear-gradient(#0bbe92, #1695c7);
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: absolute;
    top:  0;
    left: 0;
    right: 0;
    background-color: rgb(66, 64, 64);
    padding: 15px;
    color: #e6ded4;
    font-size: 36px;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    text-align: center;
}

header h1 {
    margin-bottom: 12px;
}

header p {
    color: #bdb4a8;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #bdb4a8;
}

a:hover {
    color: rgb(241, 233, 224);
}

main {
    background-color: rgb(166, 180, 182);
    /*TODO add background images*/
    padding: 35px 50px;
    text-align: center;
    font-size: 22px;
    border-radius: 33px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    color: #534741;
    margin-bottom: 15px;
}

main p:last-child {
    margin-bottom: 0;
}